{% extends "base.html" %}

{% block content %}
	<h2>Vstupenky</h2>
	<p>Táto stránka slúži na prezentáciu vypracovania 1. a 2. časti zadania z projektu DBS.</p>
	<p>Všetko podstatné sa nachádza v horných záložkách. Má za cieľ predviesť 5 scenárov, ktoré používateľ dokáže spraviť pomocou aplikácie nad databázou. Pre používateľa sú pripravené tieto scenáre:</p>
	<ol class="ol_list">
		<li><a href="/buy/">nákup vstupeniek</a></li>
		<li><a href="/update/">zmena ceny vstupeniek</a></li>
		<li><a href="/delete/">zrušenie podujatia</a></li>
		<li><a href="/stats/">štatistika najviac zarábajúcich športovcov, spevákov, umelcov...</a></li>
		<li><a href="/stats/">štatistika najnavštevovanejších podujatí zvoleného druhu</a></li>
	</ol>
{% endblock %}

